.card {
    $card-width: 20rem;
    display: block;
    background-color: var(--blog-white);
    width: $card-width;
    min-height: 25rem;
    position: relative;

    &.big-card {
        width: 40.5rem;
        grid-column: span 2;

        .card-imgbox {
            height: 14rem;
        }

        .card-explanation {

            .card-title,
            .card-desc {
                width: calc(41rem - 2rem);
            }
        }
    }

    .card-imgbox {
        width: 100%;
        height: 11rem;
        background-color: var(--blog-white);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-bottom: solid 1px var(--blog-dark-white);

        .card-img {
            width: auto;
            max-width: 100%;
            height: 14rem;
            overflow: hidden;
        }
    }

    .card-explanation {
        padding: 1rem;
        text-decoration: none;
        color: var(--blog-light-black);

        &:hover {

            .card-title,
            .card-desc {
                color: var(--blog-dark-green);
                text-decoration: underline;
            }
        }


        .card-title {
            width: calc($card-width - 2rem);
            margin: 0 0 .8rem 0;
            font-size: 1.2rem;
            margin-inline: auto;
            transition: all .25s;
            text-decoration: none;
        }

        .card-desc {
            width: calc($card-width - 2rem);
            font-size: .9rem;
            font-weight: 400;
            margin: .8rem 0;
            margin-inline: auto;
            transition: all .25s;
            text-decoration: none;
        }
    }

    .card-footer {
        display: flex;
        align-items: last baseline;
        justify-content: space-between;
        padding: 1rem;
        position: absolute;
        bottom: 0;
        width: 100%;

        .card-taglist {
            list-style: none;
            margin: 0;
            padding: 0;

            .card-tag {
                padding: 0;

                a {
                    text-decoration: none;
                }
            }
        }

        .card-date {
            display: block;
            font-weight: 400;
            font-size: 0.8rem;
        }
    }

}