.section {
    display: block;
    width: 75vw;
    // width: 65rem;
    margin-inline: auto;
    margin-top: 4rem;

    .section-title {

        .title-text {
            display: block;
            font-size: 3rem;
            color: var(--blog-light-black);
            margin-left: -2rem;
            font-family: 'Ubuntu Mono';

            &::after {
                content: "";
                display: block;
                width: 13rem;
                height: 3px;
                margin-left: -1rem;
                margin-top: -1rem;
                z-index: 0;
                background-color: var(--blog-transparent-accent);
            }
        }

        .subtitle-text {
            display: block;
            font-size: 1rem;
            margin: .5rem 0 0 -1rem;
            font-weight: 400;
            color: var(--blog-dark-gray);
        }
    }

    .section-main {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
}