.tag-limegreen,
.tag-green,
.tag-gray {
    border-radius: var(--blog-borderRadius);
    font-size: 0.8rem;
    display: inline-block;
    margin: 0.2rem;
    font-weight: 300;

    a {
        color: white;
        text-decoration: none;
        padding: 0.2rem 0.3rem;
    }
}

.tag-limegreen {
    background-color: limegreen;
}

.tag-green {
    background-color: green;
}

.tag-gray {
    background-color: gray;
}
