.about {
    display: flex;
    justify-content: center;
    gap: 2rem;

    .profile {
        width: 16rem;

        hr {
            width: 100%;
        }

        .profile-icon {

            .profile-img {
                display: block;
                margin-inline: auto;
                width: 256px;
                height: 256px;
                border-radius: 50%;
                overflow: hidden;
            }
        }

        .profile-desc {

            .profile-name {
                margin: 1rem 0 0;
                font-size: 1.3rem;
                font-weight: 600;

                .last-name {
                    margin-right: 0.1rem;
                }

                // .first-name {}
            }

            .profile-category {
                margin: .5rem 0 0;
                font-weight: 300;
                line-height: 1.1rem;
                font-size: 1.1rem;
                color: var(--blog-dark-gray);
            }

            .profile-timezone {
                display: flex;
                align-items: center;

                &::before {
                    content: "timezone:";
                    display: block;
                    margin-right: .5rem;
                }
            }

            .profile-link {
                display: flex;
                align-items: center;
                gap: .75rem;

                .twitter,
                .github,
                .qiita {
                    display: block;
                    text-decoration: underline;

                    &:hover {
                        a {
                            .i {
                                path {
                                    fill: var(--blog-accent);
                                }
                            }
                        }
                    }

                    a {

                        .i {
                            width: 1.5rem;
                            height: 1.5rem;

                            path {
                                transition: all .25s;
                                fill: var(--blog-transparent-accent);
                            }
                        }
                    }
                }
            }
        }
    }

    .intro {
        width: 47rem;
        border-left: solid 2px var(--blog-light-gray);
        padding-left: 1 rem;

        .md {
            width: calc(100% - 2rem);
            margin-inline: auto;

            .intro-title {
                display: block;
                font-size: 1.8rem;
                padding-bottom: .2rem;
                border-bottom: solid 1px var(--blog-light-gray);
            }

            .intro-description {
                font-size: 1rem;

                .intro-top {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 0.5rem;

                    .top-text {
                        width: 50%;

                        h5 {
                            margin: 0;
                        }

                        dl {

                            dt {
                                margin-top: 0.75em;
                            }
                        }
                    }

                    .top-skill {
                        width: 45%;
                        border-left: solid 2px var(--blog-light-gray);

                        h5 {
                            margin: 0 0 0 1.5rem;
                        }

                        .skill-ratiobox {
                            margin-top: 1.3rem;
                            border-radius: 5px;
                            padding-left: 1rem;

                            .skill-ratio {
                                $ratio-height: .5rem;
                                border-radius: .25rem;
                                height: $ratio-height;
                                overflow: hidden;
                                display: flex;
                                align-items: center;
                                justify-content: left;
                                background-color: var(--blog-gray);

                                .ratio-js {
                                    width: 65%;
                                    height: $ratio-height;
                                    background-color: var(--blog-js);
                                }

                                .ratio-ts {
                                    width: 12%;
                                    height: $ratio-height;
                                    background-color: var(--blog-ts);
                                }

                                .ratio-go {
                                    width: 8%;
                                    height: $ratio-height;
                                    background-color: var(--blog-go);
                                }

                                .ratio-scss {
                                    width: 10%;
                                    height: $ratio-height;
                                    background-color: var(--blog-scss);
                                }

                                .ratio-py {
                                    width: 5%;
                                    height: $ratio-height;
                                    background-color: var(--blog-py);
                                }
                            }
                        }

                        .skill-commentary {
                            margin: .5rem 1.8rem 0;

                            .ratio-js,
                            .ratio-ts,
                            .ratio-go,
                            .ratio-scss,
                            .ratio-py {
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                height: 1.5rem;
                                margin-right: 0.8rem;
                                line-height: 1.5rem;
                                font-size: 0.8rem;
                            }

                            .ratio-js::before,
                            .ratio-ts::before,
                            .ratio-go::before,
                            .ratio-scss::before,
                            .ratio-py::before {
                                content: "";
                                display: block;
                                width: .6rem;
                                height: .6rem;
                                border-radius: .3rem;
                                margin-right: 0.2rem;
                            }

                            .ratio-js::before {
                                background-color: var(--blog-js);
                            }

                            .ratio-ts::before {
                                background-color: var(--blog-ts);
                            }

                            .ratio-go::before {
                                background-color: var(--blog-go);
                            }

                            .ratio-scss::before {
                                background-color: var(--blog-scss);
                            }

                            .ratio-py::before {
                                background-color: var(--blog-py);
                            }
                        }
                    }
                }

                h4 {
                    border-bottom: solid 1px var(--blog-gray);
                    font-size: 1.5rem;
                    margin-bottom: 0.8rem;
                }

                h5 {
                    font-size: 1.2rem;
                    margin-bottom: 0;
                }

                ul {
                    margin-top: 0.2rem;

                    // li {}
                }

                .strong {
                    font-weight: 700;
                }

                .link,
                a {
                    text-decoration: underline;
                    color: var(--blog-accent);
                }

                .strong,
                .link {
                    &.d-block {
                        display: block;
                    }
                }
            }
        }
    }
}