.blog {
    margin-top: 0;
    padding-top: 4rem;

    .blog-main {
        margin-top: 5rem;
        padding-bottom: 3rem;

        .blog-article {
            display: grid;
            justify-content: center;
            gap: 2rem;
            grid-template-columns: repeat(3, 22.5rem);
            grid-auto-rows: 31rem;

            @media screen and (max-width: 1250px) {
                grid-template-columns: repeat(2, 22.5rem);
            }
            @media screen and (max-width: 800px) {
                grid-template-columns: repeat(1, 30rem);
            }
            @media screen and (max-width: 650px) {
                grid-template-columns: repeat(1, 80vw);
            }
        }

        .blog-pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            padding: 3rem 0 7rem;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-decoration: none;
                color: var(--blog-black);
                font-size: .8rem;
                width: 3rem;
                height: 3rem;
                border-radius: 1.5rem;
                background-color: var(--blog-light-gray);
                transition: all .25s;

                &:hover {
                    background-color: var(--blog-gray);
                }
            }
        }

        .blog-notfound {
            margin-top: 20vh;
            margin-inline: auto;
            font-size: 1.5rem;
            width: max-content;
        }
    }
}