.footer {
    width: 100%;
    height: var(--footer-height);
    background-color: var(--blog-gray);
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-powerd {
        text-align: center;
    }
}